body {
    background-color: #f2e8cf;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.pizza {
    padding: 1em;
    border: 1px solid;
    margin: 1em;
    border-radius: 0.2em;
}

.pizzar {
    padding: 1em;
    border: 1px solid;
    margin: 1em;
    border-radius: 0.2em;
    background-color: #ff9b85;
}

.contact_details {
    background-color: #bc4749;
    padding-bottom: 5em;
}

@media (min-width: 960px) {
    .pizzas {
        display: flex;
    }
}

.contact {
    /* float: inline-start; */
    float: left;
}

.address {
    /* float: inline-end; */
    float: right;
}

.heading {
    text-align: center;
}

.apizza {
    padding: 0.5em;
    /* border: 1px solid; */
    margin: 1em;
    border-radius: 0.2em;
    background-color: #a7c957;
    justify-content: center; 
    display: flex;
    align-items: center;
    text-align: center;
    /* justify-content: space-between; */
    gap: 10px;
}

.party {
    background-color: #ff9b85;
    margin: 1em;
    border-radius: 0.2em;
}

/* .pizza-details {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
} */

.pizza-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
    /* margin-right: 20px; */
}

.headings {
    text-align: center;
    padding: 1em;
    /* border: 1px solid; */
    margin: 1em;
    border-radius: 0.2em;
    /* background-color: #4f772d; */
    background-image: url(pizza.png);
    background-size: cover;
    background-position: center;
}

.headings h4 {
    color: black;
    text-shadow: 1px 1px 0 white, 
                 -1px -1px 0 white,
                 0 0 0 black;   
  }

  .headings h1 {
    color: black;
    text-shadow: 1px 1px 0 white, 
                 -1px -1px 0 white,
                 0 0 0 black;   
  }

.color-button {
    cursor: pointer;
    background-color: #f2e8cf;
    border: 1px solid;
    border-radius: 3px;
    transition: transform 0.1s ease;
}

.color-button:hover {
    background-color: #a5a58d;
}

.color-button:active {
    transform: scale(0.95);
}

.color-button-two {
    cursor: pointer;
    background-color: #f2e8cf;
    border: 1px solid;
    border-radius: 3px;
    transition: transform 0.1s ease;
}

.color-button-two:hover {
    background-color: #ccd5ae;
}

.color-button-two:active {
    transform: scale(0.95);
}

.pay {
    background-color: #f2e8cf;
    border: 1px solid;
    border-radius: 3px;
}

.table {
    width: 80%;
    /* margin: 10px auto; */
    border-collapse: collapse;
    background-color: #ff9b85;
    color: #000;
    /* padding: 1em; */
    margin: 1em auto;
    border-radius: 0.2em;
    table-layout: auto;
}

.table,
.table th,
.table td {
    border: 1px solid black;
}

.table th,
.table td {
    padding: 10px;
    text-align: center;
}

.table th {
    background-color: #bc4749;
    color: #f2e8cf;
}

.table .total-row {
    font-weight: bold;
}

.table .total-row td {
    border-top: 1px solid #000;
}

.pay-now {
    align-items: center;
}

[x-cloak] {
    display: none !important;
}

.thingy {
    padding: 1em;
    margin: 1em;
}

.table-container {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch; 
    margin: 0 auto;
}
/* 
.table td.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
} */

@media (max-width: 768px) {
    .table {
        font-size: 0.9em;
    }
    
    .table th, .table td {
        padding: 8px; 
    }
}

@media (max-width: 480px) {
    .table {
        font-size: 0.8em; 
    }
    
    .table th, .table td {
        padding: 6px; 
    }
}

@media (max-width: 382px) {
    .table {
        font-size: 0.7em; 
    }
    
    .table th, .table td {
        padding: 6px; 
    }
}

@media (max-width: 360px) {
    .table {
        font-size: 0.7em; 
    }
    
    .table th, .table td {
        padding: 4px; 
    }
}

@media (max-width: 300px) {
    .table {
        font-size: 0.7em; 
    }
    
    .table th, .table td {
        padding: 3px; 
    }
}

@media (max-width: 200px) {
    .table {
        font-size: 0.3em; 
    }
    
    .table th, .table td {
        padding: 2px; 
    }
}

.error-message {
    color: red;
}

.success-message {
    color: green;
}

.change-message {
    color: #4f772d;
}

.dropdown {
    padding: 1em;
    margin: 1em;
}

/* @media only screen and (max-width: 600px) {
    .table {
        width: 100%
    }
  } */

/* .something {
    display: grid;
    gap: 10px;
    padding: 10px;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
} */

/* .order {
    padding: 1em;
    border: 1px solid;
    margin: 1em;
    border-radius: 0.2em;
    background-color: #ff9b85;
} */

